<!-- src/resources/views/reset_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
</head>
<body>
    <h1>Redefinição de Senha</h1>
    <form action="/auth/reset_password/<%= token %>" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Nova Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Redefinir Senha</button>
    </form>
</body>
</html>
